#clockcontainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(../img/clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #min, #sec{
    position: absolute;
    background-color: black;
    border-radius: 12px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 26%;
    top: 24%;
    left: 48.9%;
    opacity: 0.8;
}

#min {
    width: 1.6%;
    height: 30%;
    top: 20%;
    left: 49%;
    opacity: 0.8;
}

#sec{
    width: 1%;
    height: 34%;
    top: 16%;
    left: 49.2%;
    opacity: 0.8;
}